<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controller"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.controller.MenuPrincipalActivity"
            android:label="@string/title_activity_menu_principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.controller.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.example.controller.LancamentoActivity"
            android:label="@string/title_activity_lancamento" >
        </activity>
        <activity
            android:name="com.example.controller.CategoriasActivity"
            android:label="@string/title_activity_categorias" >
        </activity>
        <activity
            android:name="com.example.controller.ContasActivity"
            android:label="@string/title_activity_contas" >
        </activity>
    </application>

</manifest>
